@font-face {
  font-family: "gilroy";
  src: url("/fonts/Gilroy-Bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "gilroy";
  src: url("/fonts/Gilroy-Regular.woff") format("woff");
  font-weight: normal;
}
@font-face {
  font-family: "gilroy";
  src: url("/fonts/Gilroy-Light.woff") format("woff");
  font-weight: lighter;
}
:root {
  --main-color: rgb(246, 75, 75);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  color: rgb(22, 28, 45);
}
body {
  font-family: "gilroy";
  font-weight: normal;
}

#navv a,
#navv li {
  text-decoration: none;
  list-style-type: none;
  padding: 1rem;
}
#navv {
  display: flex;
  justify-content: flex-start;
  padding-left: 6rem;
}

.container {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  background-image: url("assets/sec2/BG_nav.png");
  padding-left: 10.375rem;
}

.nav_items {
  color: black;
  font-weight: bold;
  font-size: 0.9375rem;
}

#logo {
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
}
.nav_button {
  margin-left: 16rem;
  border-radius: 0.3rem;
  padding: 0.9175rem 1.55rem;
  background-color: rgb(71, 59, 240);
  font-size: 1.0625rem;
  color: white;
  font-weight: bold;
  border: none;
}

.nav_down_wrapper {
  margin-top: 3.25rem;
  display: flex;
  background-image: url("assets/sec2/BG_nav.png");
}
.circles {
  position: absolute;
  top: 95px;
  left: 94px;
  z-index: 1;
}

.round {
  position: absolute;
  bottom: 30.87px;
  left: 0px;
  z-index: 1;
}
.waves {
  position: absolute;
  bottom: 50px;
  right: 25.79px;
  z-index: 1;
}

.nav_down_part {
  width: 60%;
  padding: 9.5625rem 6.6875rem 3rem 15.25rem;
}
.round_image {
  z-index: 2;
  position: relative;
  margin-top: 5.937rem;
}
.girl_img {
  z-index: 2;
  padding-left: 1rem;
  padding-top: 2.4rem;
}

.image_wrapper {
  position: relative;
  padding-bottom: 8.5rem;
}

.s1 {
  width: 90%;
  display: inline-block;
  font-size: 0.8125rem;
  color: var(--main-color);
  margin-bottom: 1.5625rem;
  font-weight: bold;
}
.a1 {
  width: 80%;
  color: rgba(22, 28, 45, 0.6);
  font-weight: lighter;
  margin-bottom: 1.6rem;
  margin-right: 2.5625rem;
  line-height: 1.6;
  font-size: 1.2875rem;
}
.header1 {
  font-weight: bold;
  font-size: 3.75rem;
  margin-bottom: 1.5625rem;
  line-height: 1.1;
}
.b1 {
  border-radius: 0.3rem;
  display: inline-block;
  padding: 1.23rem 1.7rem;
  background-color: rgb(71, 59, 240);
  font-size: 1.0625rem;
  color: white;
  font-weight: bold;
  border: none;
}

.section2 {
  background-image: url("assets/sec2/bg.png");
  background-repeat: no-repeat;
  padding-left: 15.3125rem;
  padding-right: 12.07125rem;
  position: absolute;
  padding-top: 7.3125rem;
  padding-bottom: 7.3125rem;
  background-position: 86% 87%;
}
.uppercase {
  text-transform: uppercase;
}
.header {
  width: 60%;
  padding: 0 auto;
  text-align: center;
  margin: 0 auto;
}
.header_para {
  font-size: 2.25rem;
  font-weight: bold;
  padding-bottom: 5.0625rem;
}
.header_span {
  display: inline-block;
  margin-bottom: 2rem;
  color: var(--main-color);
}
#section2_content {
  display: flex;
  color: white;
  gap: 1.9375rem;
  padding-bottom: 3.2rem;
}
.section2_small {
  width: 30%;
  border-radius: 0.6rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section2_small h3 {
  font-size: 2.125rem;

  color: white;
}
.topimg {
  margin-top: 3.325rem;
}

.section2_small article {
  font-size: 1.0625rem;
  padding-top: 0.9475rem;

  width: 84.5%;
  opacity: 0.6;
  line-height: 1.6;
  color: white;
}

.section2_small span {
  margin: 0px;
  font-size: 1.0625rem;
  display: inline-block;
  color: white;
  padding-right: 1.6875rem;
}

.greenn {
  background-color: rgb(104, 213, 133);
}

.first_h3 {
  padding-top: 2.5925rem;
}
.second_h3 {
  padding-top: 2.886rem;
}
.third_h3 {
  padding-top: 2.646rem;
}
.bluee {
  background-color: rgb(71, 59, 240);
}

.redd {
  background-color: var(--main-color);
}
.sec2_last_span {
  padding-bottom: 2.475rem;
  padding-top: 2.7875rem;
}
